/*** BASIC LAYOUT ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.aside {
    box-sizing: border-box;
    background-color: $frame;
    width: 40%;
    float: right;
    padding: 30px;
    margin: 30px;
}

.main {
    flex: 1 0 auto;
    flex-grow: 1;
    min-height: calc(1400px - 100px);
}

.container {
    width: 40%;
    padding: 0 0.5em;
    margin: 50px;
    padding: 50px;
    float: left;
    height: auto;
}

.widescreen .container {
    max-width: 72em;
}

/*** LAYOUT PICTURE ***/
.me {
    height: 400px;
}

.flash-img {
    height: 300px;
    width: 100%;
    margin: 0, auto;
    margin-top: 0;
}

.schema {
    height: 400px;
}

img, embed, object, video {
    max-width: 100%;
}