.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em 3em;
    padding: 3em;
}

/* Landscape phones and portrait tablets */
@media (max-width: 992px) {
    .gallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
    
@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
