/* report.scss */
body {
    min-height: 480px;
    background-color: $background-color;
    width: 1900px;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
}

.landingpage {
    display: grid;
    gap: 5em 5em;
    padding: 5em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    grid-column: span 1;
    grid-template-columns: 1fr, 1fr, 1fr;
    border: 3px solid $frame;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.kmom-box h2 {
    background-color: $background;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-left: 20px;
}

.kmom-box p {
    padding-left: 20px;
}

.kmom-box.project {
    display: block;
    text-align: left;
    grid-column: span 3;
}

.kmom-box.project h2 {
    display: block;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}

/* The side navigation menu */
.side-nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: $header;
    position: absolute;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.side-nav a {
    display: block;
    color: $color2;
    padding: 16px;
    text-decoration: none;
}


/* Active/current link */
.sidebar .active {
    background-color: $color;
    color: $color2;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: $color;
    color: $color2;
}

/* Page content. */
.container {
    margin-left: 200px;
    padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 676px) {
    .side-nav {
        max-width: 100%;
        height: auto;
        position: relative;
    }

    .side-nav a {
        float: left;
    }

    .container {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media (max-width: 676px) {
    .side-nav {
        visibility: hidden;
        display: none;
    }
}
