/**
 * responsive
 
@media screen and (orientation: portrait) {
    body {
        background-image: url('assets/img/portrait.png');
        height: auto;
        background-size: cover;
    }
}*/

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1400px) {
    body,
    header,
    main,
    h1,
    h2,
    p,
    .header-pic,
    .container,
    .container2,
    .social {
        width: auto;
    }

    footer {
        font-family: sans-serif;
        font-size: 12px;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    main {
        padding: 1em 0.4em;
    }

    .text {
        float: none;
    }

    .aside {
        float: left;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .flash-img {
        max-width: 100%;
        margin: 0, auto;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body,
    header,
    main,
    h1,
    h2,
    p,
    .header-pic,
    .container,
    .container2,
    .social {
        width: auto;
    }

    footer {
        font-family: sans-serif;
        font-size: 12px;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    main {
        padding: 1em 0.4em;
    }

    .text {
        float: none;
    }

    .aside {
        float: left;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .flash-img {
        max-width: 100%;
        margin: 0, auto;
    }

    .landingpage h1 {
        grid-column: span 6;
        justify-self: center;
    }

    .kmom-box {
        grid-column: span 3;
    }

    .kmom-box.project {
        grid-column: span 6;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body,
    header,
    main,
    h1,
    h2,
    p,
    .header-pic,
    .container,
    .container2,
    .social {
        width: auto;
    }

    footer {
        font-family: sans-serif;
        font-size: 12px;
        text-decoration: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: auto;
    }

    main {
        padding: 1em 0.4em;
    }

    .text {
        float: none;
    }

    .aside {
        float: left;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .flash-img,
    .schema {
        max-width: 100%;
        margin: 0, auto;
    }

    .kmom-box.project,
    .kmom-box,
    .landingpage h1 {
        grid-column: span 4;
    }

}
