/*** TYPOGRAPHY ***/

html {
    font-size: 100%;
    height: 100%;
    max-width: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fondamento', cursive;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    font-size: $font-size;
    line-height: $line;
    margin-bottom: $magic-number;
    color: $textcolorp;
}

h2 {
    color: $color3;
    font-size: $font-size-h2;
    line-height: $line;
    margin-bottom: $magic-number;
}

h3 {
    color: $color3;
    font-size: $font-size-h3;
    line-height: $line;
    margin-bottom: $magic-number;
}

h4 {
    font-size: $font-size-h4;
    line-height: $line;
    margin-bottom: $magic-number;
}

img {
    max-width: 100%;
}

hr,
table,
.table-responsive,
ol,
ul,
dl,
dd,
pre,
fieldset {
    margin-bottom: 1em;
}
