$background: #db82f7 !default;
$color: #c95d69 !default;

$background-color: #e4e3e0 !default;
$color2: #fdeaee !default;

$textcolor: #221f20 !default;
$header: #6db7e9 !default;

$font-size: 1.2em;
$font-size-h1: 1.7em;
$font-size-h2: 1.5em;
$font-size-h3: 1.3em;

$line: 1.4;
$magic-number: $font-size * $line;
