$header: #20294599 !default;
$background: #152028 !default;
$color: #85f2af23 !default;

$background-color: #121212 !default;
$color2: rgba(230, 221, 221, 0.651) !default;
$color3: rgba(230, 221, 221, 0.651) !default;
$textcolor: rgba(130, 130, 136, 0.795) !default;
$textcolorp: rgba(252, 236, 236, 0.753);

$border2: rgba(130, 130, 136, 0.795);
$frame: #202945;
$framefrontpage: #85f2af23;
//$colorlinks: #85f2af23;
$font-size: 1.2em;
$font-size-h1: 1.7em;
$font-size-h2: 1.5em;
$font-size-h3: 1.3em;
$font-size-h4: 1.4em;

$line: 1.4;
$magic-number: $font-size * $line;
