$header: #decce6 !default;
$background: #9c849c !default;
$color: #fbd4fc !default;

$background-color: #fbfaf7 !default;
$color2: rgb(255, 255, 255) !default;
$color3: #333 !default;
$color4: rgb(10, 10, 10) !default;
$textcolor: #333 !default;
$textcolorp: rgb(14, 9, 9);
$border2: #f2cbe1;
$frame: #d394d5;
$framefrontpage: #6eadc8;

$font-size: 1.2em;
$font-size-h1: 1.7em;
$font-size-h2: 1.5em;
$font-size-h3: 1.3em;
$font-size-h4: 1.2em;

$line: 1.4;
$magic-number: $font-size * $line;
